@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center mt-5">
    <h1 class="mb-4">🔐 Şifreleme Araçları</h1>
    <div class="d-grid gap-3 col-6 mx-auto">
        <a class="btn btn-custom-gray btn-lg" href="/Rsa/Encrypt">🔏 RSA Şifrele</a>
        <a class="btn btn-custom-gray btn-lg" href="/Rsa/Decrypt">🔓 RSA Çöz</a>
        <a class="btn btn-custom-gray btn-lg" href="/Hash/Sha256">🔎 SHA256 Hash</a>
    </div>
</div>

