@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="mb-4">🔐 Şifreleme Araçları</h1>
        <div class="d-grid gap-3 col-6 mx-auto">
            <a class="btn btn-rsa-encrypt btn-lg" href="/Rsa/Encrypt">🔏 RSA Şifrele</a>
            <a class="btn btn-rsa-decrypt btn-lg" href="/Rsa/Decrypt">🔓 RSA Çöz</a>
            <a class="btn btn-sha256-hash btn-lg" href="/Hash/Sha256">🔎 SHA256 Hash</a>
        </div>
    </div>
</div>
