html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.mt-5 {
    margin-top: 1rem !important;
}

.mb-4 {
    margin-bottom: 0.5rem !important;
}

body {
    background: linear-gradient(135deg, #020546, #ffffff);
    min-height: 100vh;
    font-family: "Segoe UI", sans-serif;
}

.card-custom {
    border: none;
    border-radius: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card-header {
    background-color: #f1f1f1;
    padding: 15px 20px;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
}

    .card-header h5 {
        margin: 0;
    }

.card-body {
    padding: 20px;
}

textarea[readonly],
input[readonly] {
    background-color: #f8f9fa;
    resize: none;
}

.collapse-content {
    display: none;
}

    .collapse-content.show {
        display: block;
    }


.btn-custom-gray {
    background-color: #787777 !important;
    color: white !important;
}

.btn-custom-gray {
    background-color: #787777 !important;
    color: white !important;
    border: none;
}

    .btn-custom-gray:hover {
        background-color: #5f5f5f !important;
    }


.btn-custom-generate {
    background-color: #420aff !important;
    color: white !important;
    border: none;
}

    .btn-custom-generate:hover {
        background-color: #2e07b3 !important;
    }













.btn-rsa-encrypt {
    background-color: #007bff; /* Mavi */
    color: white;
}

    .btn-rsa-encrypt:hover {
        background-color: #0056b3;
        color: white;
    }

.btn-rsa-decrypt {
    background-color: #28a745; /* Yeşil */
    color: white;
}

    .btn-rsa-decrypt:hover {
        background-color: #1e7e34;
        color: white;
    }

.btn-sha256-hash {
    background-color: #fd7e14; /* Turuncu */
    color: white;
}

    .btn-sha256-hash:hover {
        background-color: #e8590c;
        color: white;
    }


.btn-rsa-encrypt {
    background-color: #007bff; /* Mavi */
    color: white;
}

    .btn-rsa-encrypt:hover {
        background-color: #0056b3;
        color: white;
    }
.btn-rsa-decrypt {
    background-color: #28a745; 
    color: white;
}

    .btn-rsa-decrypt:hover {
        background-color: #1e7e34;
        color: white;
    }

.btn-sha256-hash {
    background-color: #fd7e14; 
    color: white;
}






    .btn-sha256-hash:hover {
        background-color: #e8590c;
        color: white;
    }

.btn-green {
    background-color: #28a745;
    color: white;
    border: none;
}

    .btn-green:hover {
        background-color: #218838;
        color: white;
    }

.btn-orange {
    background-color: #fd7e14;
    color: white;
    border: none;
}

    .btn-orange:hover {
        background-color: #e96d09;
        color: white;
    }

.btn-orange-outline {
    background-color: transparent;
    border: 2px solid #fd7e14;
    color: #fd7e14;
}

    .btn-orange-outline:hover {
        background-color: #fd7e14;
        color: white;
    }